---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler

metadata:
    name: api-v1

spec:
    scaleTargetRef:
        apiVersion: apps/v1
        kind: Deployment
        name: api-v1
    minReplicas: 1
    maxReplicas: 10
    metrics:
        - type: Resource
          resource:
              name: cpu
              target:
                  type: Utilization
                  averageUtilization: 50
