__pycache__/
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
.accio/
.build/
.cache/
.coverage
.eggs/
.env
.idea
.idea/
.pytest_cache/
.python-version
.tox/
.venv/
.vscode/
.workon
*.dSYM
*.dSYM.zip
*.egg
*.egg-info/
*.hmap
*.iml
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.perspectivev3
*.pyc
*.swp
*.xccheckout
*.xcscmblueprint
/.mypy_cache/
build/
cover/
coverage.xml
Dependencies/
dist
docs/_build
env/
junit-report.xml
MANIFEST
nosetests.xml
Package.resolved
pylint.txt
t.py
t2.py
toy.py
src/configs/*.env
